spring:
  application:
    name: auth-service

server:
  port: 8081

jwt:
  secret: your-super-secret-jwt-key-change-this-in-production-min-256-bits
  expiration: 86400000

grpc:
  server:
    port: 9091

  client:
    user-service:
      address: "discovery:///user-service"
      negotiationType: plaintext

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true