spring:
  application:
    name: revenue-service

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/checkinn_revenue}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USER:guest}
    password: ${RABBIT_PASS:guest}

app:
  rabbit:
    exchange: ${RABBIT_EXCHANGE:hotel.events}
    payment-queue: ${RABBIT_PAYMENT_QUEUE:revenue.payment.queue}
    booking-queue: ${RABBIT_BOOKING_QUEUE:revenue.booking.queue}

hotel:
  service:
    url: ${HOTEL_SERVICE_URL:http://hotel-service}

server:
  port: 8086
management:
  endpoints:
    web:
      exposure:
        include: "health,info"

grpc:
  client:
    hotel-service:
      address: "discovery:///hotel-service"
      negotiation-type: plaintext

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
    metadata-map:
      management.port: ${MANAGEMENT_PORT:${server.port}}
