spring:
  application:
    name: hotel-service
  datasource:
    url: jdbc:postgresql://localhost:5432/checkinn_hotel
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  config:
    import: "optional:configserver:"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8083

grpc:
  server:
    port: 9092
  client:
    media-service:
      address: "discovery:///media-service"
      negotiation-type: plaintext
    user-service:
      address: "discovery:///user-service"
      negotiation-type: plaintext

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info

jwt:
  secret: THIS_IS_SUPER_SECRET_KEY_12345678901234567890

hold:
  expiry:
    minutes: 15